/* Responsivo */
@media (min-width: 720px) {
    .container {
        max-width: 700px;
    }

    .descricao {
        max-width: 280px;
    }

    .card {
        display: block;
    }

    .imagens {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}

/* Responsivo */
@media (min-width: 1200px) {
    .container {
        max-width: 1100px;
    }

    .inicio {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}